---
layout: base.njk
namespace: page-homepage
permalink: /
pageTitle: Home
pageDesc: "Page description here."
headerCopy:
---

{% include "page-header.njk" %}

<div class="container">
    <p>Eleventy starter project.</p>
</div>
